In [2]:
import pandas as pd
review = pd.read_json('Downloads/Data/review_city.json',lines=True)
business = pd.read_json('Downloads/Data/business_city.json', lines=True)
tip = pd.read_json('Downloads/Data/tip_city.json',lines=True)
user = pd.read_json('Downloads/Data/user_city.json', lines=True)
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14..."
1,7Dv4_HAxsxvadEsT5fxQBg,Dependable Brakes & Exhaust,1110 Saw Mill Run Blvd,Pittsburgh,PA,15226,40.406667,-80.004450,5.0,5,1,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Repair","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
2,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,1,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
3,03x6ZlJ7s39DHqfTJU1Ecg,Beechmont Country Club,29600 Chagrin Blvd,Beachwood,OH,44122,41.461448,-81.470127,4.5,7,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Event Planning & Services, Venues & Event Spac...",None
4,_4Oe9V-qTpU5iemM9bphlA,Goodyear Auto Service Center,"800 Fort Duquesne Blvd, Ste 1",Pittsburgh,PA,15222,40.444614,-79.999344,3.5,12,1,{'BusinessAcceptsCreditCards': 'True'},"Oil Change Stations, Auto Repair, Automotive, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."

In [3]:
# merge data
df_raw = pd.merge(review, business, how='left', on='business_id')
df_raw.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11,Deagan's Kitchen & Bar,...,OH,44107,41.485192,-81.800145,4.0,417,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (...","{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22..."
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47,Black Cab & Limo,...,IL,,40.116420,-88.243383,4.5,28,1,{'WiFi': 'u'free''},"Airport Shuttles, Transportation, Taxis, Hotel...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."
2,Ne_2CSfcKIqXHmv_KC0uqg,6sJN_HlM_uwpfLJ1puf1Fg,oVuZtlCFg_zF090Nhtp0Ow,4,3,0,1,A close friend was in town and so instead of t...,2018-02-01 19:15:00,Choolaah Indian BBQ,...,PA,15206,40.460266,-79.923461,4.0,302,1,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Indian, Vegetarian, Vegan, Gluten...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-17:0', ..."
3,2mLlQ9n5Ln_fykOuX_b0-A,EZ6g9a17UdMjtR-wrZebmA,wSAGILK2CFbq5BVZ5D67-A,3,0,0,0,The service is attentive. The decor attractive...,2015-06-21 00:07:59,Adega,...,OH,44115,41.499615,-81.685922,4.0,201,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Mediterranean, Hotels, Beer, Wine & Spirits, B...","{'Monday': '6:30-22:0', 'Tuesday': '6:30-22:0'..."
4,Ymb8ZYPg2e8dvqhdj3Gkqw,hHFSpKcnDtJOs6M-JKFZ8Q,oCvxJBOs-Mbg-4oanPO7lQ,4,0,0,0,The ingredients are always fresh and I like th...,2016-10-26 14:53:42,Pita Pit,...,PA,15203,40.426647,-79.965902,3.5,57,1,"{'RestaurantsPriceRange2': '1', 'RestaurantsAt...","Fast Food, Greek, Breakfast & Brunch, Restaura...","{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'..."

In [4]:
# drop useless columns
from collections import Counter
df = df_raw.drop(columns=['business_id', 'review_id', 'user_id', 'funny', 'cool', 'date', 'latitude', 'longitude', 'is_open', 'review_count', 'hours'])
cate = Counter([j for k in [i.split(", ") for i in map(str,df["categories"])] for j in k]).most_common()

In [5]:
# select one supecific restaurants "Burger" and remove duplicates lines
burger_index = [i.find("Burgers")!=-1 for i in map(str,df["categories"])]
burger = df[burger_index]
burger.drop_duplicates(subset='text', keep='first', inplace=True)
burger.shape

<ipython-input-5-099d3af19016>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  burger.drop_duplicates(subset='text', keep='first', inplace=True)

(65154, 11)

In [19]:
import csv
burger_noreview = burger.iloc[:,0:10].drop(columns="text")
burger_noreview.to_csv("burger_noreview.csv", index=False)

In [20]:
burger_noreview

,stars_x,useful,name,address,city,state,postal_code,stars_y,attributes
26,2,0,Original Hot Dog Shop,3901 Forbes Ave,Pittsburgh,PA,15213,3.5,"{'Caters': 'False', 'RestaurantsTakeOut': 'Tru..."
30,2,2,The Breakaway Bar and Grill,715 Craigdell Rd,New Kensington,PA,15068,4.0,"{'Music': '{'dj': False, 'background_music': F..."
48,5,1,Flip Side,19071 Old Detroit Rd,Rocky River,OH,44116,3.5,"{'RestaurantsPriceRange2': '2', 'OutdoorSeatin..."
62,3,0,Johnny Rockets,"433 Pittsburg Mills Circle, Galleria at Pittsb...",Tarentum,PA,15084,3.0,"{'RestaurantsAttire': 'u'casual'', 'NoiseLevel..."
67,5,1,Original Hot Dog Shop,3901 Forbes Ave,Pittsburgh,PA,15213,3.5,"{'Caters': 'False', 'RestaurantsTakeOut': 'Tru..."
...,...,...,...,...,...,...,...,...,...
941942,5,0,Famous Dave's Bar-B-Que,26410 Great Northern Shopping Ctr,North Olmsted,OH,44070,3.5,"{'Caters': 'True', 'BusinessAcceptsCreditCards..."
941948,5,4,Village Bar,3801 Mineral Point Rd,Madison,WI,53705,4.5,"{'RestaurantsAttire': 'u'casual'', 'Restaurant..."
941977,1,0,McDonald's,4214 Brownsville Rd,Brentwood,PA,15227,1.0,"{'RestaurantsReservations': 'False', 'GoodForK..."
942013,1,0,Burgers 2 Beer,33003 Aurora Rd,Solon,OH,44139,3.5,"{'Music': '{'jukebox': True}', 'RestaurantsPri..."
942023,5,0,The Blue Goose Saloon,605 Mt Royal Blvd,Pittsburgh,PA,15223,4.0,"{'Ambience': '{'touristy': False, 'hipster': F..."

In [59]:
#remove punctuation
#lower 
text = list(burger.text)
import string
text = ["".join([char for char in a if char not in string.punctuation]) for a in text]
text = [i.lower() for i in text]
text[0]

'parking is tough to get here so i dont get to go much i also get a little cautious sometimes as they frequently have multiple questionable looking characters\n\npros\n legendary fries that used to be super huge and gave you great value for your buck\n good burgers\n if you drink it looks like they have a lot of different kinds of alcohol\n\ncons\n customer service hahaha not here if you can get more than a fart out of one of the twins working there you are ahead of the pack\n dirty messy tables crap everywhere\n many questionable characters here someone once asked me if i wanted to buy stolen jewelry off them while i was eating im being totally honest too\n their french fry portions have gotten smaller they used to need two baskets for a large fry and now only need one\n really expensive hot dogs \n they have strict limits on ketchup no im not joking 2 for large fries 1 for anything less\n\ni do recommend getting their legendary fries at least once and i do recommend the egg burger but get it to go and go when it is light out'

In [60]:
#remove non-English words
import nltk 
Eng_dir = set(nltk.corpus.words.words())
text_Eng = [" ".join([w for w in nltk.word_tokenize(j) if w in Eng_dir or not w.isalpha()]) for j in text]

In [61]:
# replace those with "no", "not" to "no_xx"
text_no = [i.replace(" no "," no_").replace(" not "," no_").replace(" dont "," no_").replace(" isnt "," no_") for i in text_Eng]

In [62]:
# tokenize
words = [nltk.word_tokenize(i) for i in text_no]
words[0:3]

[['parking',
  'is',
  'tough',
  'to',
  'get',
  'here',
  'so',
  'i',
  'no_get',
  'to',
  'go',
  'much',
  'i',
  'also',
  'get',
  'a',
  'little',
  'cautious',
  'sometimes',
  'as',
  'they',
  'frequently',
  'have',
  'multiple',
  'questionable',
  'looking',
  'legendary',
  'that',
  'used',
  'to',
  'be',
  'super',
  'huge',
  'and',
  'gave',
  'you',
  'great',
  'value',
  'for',
  'your',
  'buck',
  'good',
  'if',
  'you',
  'drink',
  'it',
  'like',
  'they',
  'have',
  'a',
  'lot',
  'of',
  'different',
  'of',
  'alcohol',
  'customer',
  'service',
  'no_here',
  'if',
  'you',
  'can',
  'get',
  'more',
  'than',
  'a',
  'out',
  'of',
  'one',
  'of',
  'the',
  'working',
  'there',
  'you',
  'are',
  'ahead',
  'of',
  'the',
  'pack',
  'dirty',
  'messy',
  'tables',
  'crap',
  'everywhere',
  'many',
  'questionable',
  'here',
  'someone',
  'once',
  'me',
  'if',
  'i',
  'to',
  'buy',
  'stolen',
  'jewelry',
  'off',
  'them',
  'while',
  'i',
  'was',
  'eating',
  'being',
  'totally',
  'honest',
  'too',
  'their',
  'fry',
  'have',
  'gotten',
  'smaller',
  'they',
  'used',
  'to',
  'need',
  'two',
  'for',
  'a',
  'large',
  'fry',
  'and',
  'now',
  'only',
  'need',
  'one',
  'really',
  'expensive',
  'hot',
  'dogs',
  'they',
  'have',
  'strict',
  'on',
  'ketchup',
  'no_not',
  '2',
  'for',
  'large',
  '1',
  'for',
  'anything',
  'less',
  'i',
  'do',
  'recommend',
  'getting',
  'their',
  'legendary',
  'at',
  'least',
  'once',
  'and',
  'i',
  'do',
  'recommend',
  'the',
  'egg',
  'but',
  'get',
  'it',
  'to',
  'go',
  'and',
  'go',
  'when',
  'it',
  'is',
  'light',
  'out'],
 ['food',
  'was',
  'great',
  'the',
  'pepperoni',
  'and',
  'the',
  'service',
  'was',
  'sub',
  'par',
  'they',
  'at',
  'first',
  'however',
  'the',
  'server',
  'entirely',
  'forgot',
  'our',
  'pizza',
  'when',
  'we',
  'she',
  'to',
  'blame',
  'it',
  'on',
  'the',
  'kitchen',
  'she',
  'never',
  'nor',
  'did',
  'she',
  'offer',
  'a',
  'discount',
  'she',
  'us',
  'into',
  'paying',
  'our',
  'tab',
  'and',
  'did',
  'no_offer',
  'to',
  'get',
  'us',
  'any',
  'additional',
  'food',
  'or',
  'beverage',
  'furthermore',
  'she',
  'did',
  'no_pass',
  'on',
  'to',
  'another',
  'server',
  'that',
  'we',
  'intended',
  'to',
  'stay',
  'and',
  'eat',
  'and',
  'though',
  'we',
  'explicitly',
  'stated',
  'that',
  'we',
  'stayed',
  'for',
  '45',
  'waiting',
  'to',
  'order',
  'more',
  'food',
  'and',
  'have',
  'our',
  'our',
  'were',
  'and',
  'we',
  'were',
  'no_additional',
  'no_one',
  'us',
  'l',
  'overall',
  'good',
  'food',
  'bad',
  'service'],
 ['my',
  'hubby',
  'and',
  'i',
  'went',
  'here',
  'for',
  'our',
  'first',
  'date',
  'night',
  'away',
  'from',
  'our',
  'its',
  'definitely',
  'worth',
  'it',
  'great',
  'with',
  'lots',
  'of',
  'the',
  'were',
  'amazing',
  'and',
  'my',
  'most',
  'favorite',
  'thing',
  'was',
  'getting',
  'a',
  'of',
  'apple',
  'pie',
  'within',
  'a',
  'shake',
  'oh',
  'my',
  'highly',
  'recommend']]

In [63]:
# rwmove stop words
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
print(stop_words)
filter_words = [[j for j in i if j not in stop_words] for i in words]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [64]:
#Lemmatize
#nltk.download('wordnet')
from nltk.stem.wordnet import WordNetLemmatizer
lmtzr = WordNetLemmatizer()
lemmatized_words = [[lmtzr.lemmatize(x) for x in a] for a in filter_words]
with open("lemmatized_words.txt","w", encoding='utf-8') as f:
    w = csv.writer(f,delimiter=',',lineterminator='\n')
    w.writerows(lemmatized_words)

In [65]:
# count frequency
from collections import Counter
import json
lemmatized_words_unlist = [i for item in lemmatized_words for i in item] 
counter_words = Counter(lemmatized_words_unlist).most_common()
with open("counter_words.txt","w", encoding='utf-8') as f:
    w = csv.writer(f,delimiter=',',lineterminator='\n')
    for key, value in counter_words:
        w.writerow([key, value])

In [66]:
len(lemmatized_words)

65154